<!DOCTYPE html>
<html>
<head>
	<title>Finance Manager Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
        <div class="container">
          <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="https://sj-reimbursement-reboot.herokuapp.com/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="add-new-ticket"href="https://sj-reimbursement-reboot.herokuapp.com/">Logout</a>
              </li>
          </ul>
        	<div class="jumbotron col-lg-4 text-center">
				Welcome
								<h3>
								<label id="username"> </label>
							</h3>


				<div class="container-fluid well span6">
					<div class="row-fluid">
						
						<div class="span8">
							<button
								class="btn btn-warning expand-description-btn rounded desc-btn"
								data-toggle="collapse" data-target="#userInfo">
								Profile</button>
							   <div style="height:30px" id="userInfo"class="collapse description-panel col-lg-12"> 
             
							<h6>
								<label> Name: </label>
								
								<span id="firstname"></span>
								<span id="lastname"> </span>
							</h6>
						
							<h6>
							<label> User ID:</label>
								<label id="userid"></label>
							</h6>
							<h6>
								<span>  <label>Email:</label></span> 
								<span id="email"></span>
							</h6>
							
						</div>

					
					</div>
				</div>


			</div>
			   
		</div>
		 <div class="row text-center">
                      <div class="btn-group-toggle radios" style="display:inline-block;"data-toggle="buttons">
                      
                                   
                             <button class="btn btn-success" id="viewPending"> View Pending </button>
                      
                          <button class="btn btn-success" id="viewApproved"> View Approved </button>
                             <button class="btn btn-success" id="viewDenied"> View Denied </button>
                      <button class="btn btn-success" id="viewAll"> View All </button>
               
                          </div>
                        </div>
                        <br>  
          <!-- <div class="jumbotron text-center card-link" > Welcome Finance Manager </div>
                <div class="">
                    <div class="row text-center">
                      <div class="btn-group-toggle radios" style="display:inline-block;"data-toggle="buttons">
                      
                            <button class="btn btn-success" id="viewAll"> View All </button>
                      
                             <button class="btn btn-success" id="viewPending"> View Pending </button>
                      
                          <button class="btn btn-success" id="viewApproved"> View Approved </button>
                             <button class="btn btn-success" id="viewDenied"> View Denied </button>
                      
                          </div>
                        </div>
                        <br>  
              
                    </div>
    -->  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                   <!-- <div class="row"> -->
              
                    
              
        </div>
        <div class="modal-footer">
            <button type="submit center" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary center">Submit</button>
                  
        </div>
      </div>
            
         </div> 
         </div> <!-- End modal -->  
            <div id="ticketDiv">
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/finance-manager.js"></script>
    </body>
    </html>
