<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
	<div class="main-container">
		<div class="container text-center">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link active"
					href="https://sj-reimbursement-reboot.herokuapp.com/register">Register</a>
				</li>
				<li class="nav-item"><a class="nav-link" id="add-new-ticket"
					href="https://sj-reimbursement-reboot.herokuapp.com/">Login</a></li>

			</ul>
		</div>
		<h1 style="color: yellow">Welcome to the site :) Please visit the below above for the
			real experience.</h1>

</body>
</html>